
    .card-deck {
      width: auto;
      margin-right: auto;
      margin-left: auto;
      justify-content: space-evenly;
    }
    div.transbox {
      /*margin: 30px;*/
      background: #17752dbf;
     
      filter: alpha(opacity=60); /* For IE8 and earlier */
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: 300;
      color: white;
     
      font-family: 'Roboto', sans-serif;
    }
    h3 {
      text-align: center;
      font-family: 'Alegreya Sans', sans-serif;
      font-size: 4.5vh;

    }
    .button {
      background-color: #FFD433; /* Green */
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 3vh;
      width: fit-content;
      margin: auto;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      font-family: 'Amiri', serif;
    }

    .button1 {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .card-img-top{
      height:max-content;
      width: max-content;

    }
    .card {
      width: fit-content;
      height:fit-content;

    }
    nav {
      background: transparent;
      opacity:0.9;
     
    }

    div.transbox p {
     /* margin: 5%;*/
      font-weight: bold;
      font-family: 'Gothic A1', sans-serif;
      font-size: 2.5vh;
      /*text-align: center;*/
      
    }
  
   .new-arrivals{
    background-image: url(bcg2.png);
    opacity: 0.8;

   }
   .aninav{
    opacity: 0.9;
   }
   .aninav.hover{
    opacity: 1;

    transition: all .25s ease-in-out;
   }

  #smiley #star img.star{
    display: block;
    float: left;
    height: 40vmin;
    width: 40vmin;
    
    
   
}

.star {
        visibility: hidden;
        
       
       

    }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp 2s;
  animation-name: fadeInUp 2s;
  visibility: visible !important;
}

    .fadeIn {
        -webkit-animation: animat_show 2s;
        animation: animat_show 2s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0; transform: translate3d(0, 5%, 0);}
        100%{opacity:1; transform: translate3d(0, 0, 0);}
    }
   .slideshow{
      display: flex;
      flex-direction: column;
      height: auto;
      border: 2px solid grey;
      width: 100%;
      justify-content: center; 
      margin-left: auto;
      margin-right: auto;

    }
   
   .bx-wrapper{
    height: fit-content;
    margin-top: 20px;
    padding: auto;
    align-self: center;
   }
  
   
   
    
   
   
